{% extends 'ApplicationCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="col-md-9" role="main">
        {{ solution.code }}
    </div>

    {#{% for commentinfo in comments %}#}
        {#{% include "FOSCommentBundle:Thread:comment.html.twig" with { "children": commentinfo.children, "comment": commentinfo.comment, "depth": depth, "view": view } %}#}
    {#{% endfor %}#}
{% endblock %}

