{% extends 'ApplicationCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="col-md-10" role="main">
        <h1>Solutions to the tasks:</h1>
        <ul class="list-unstyled">
        {% for solution in solutions %}
            <li>
                <a href="{{ solution.id }}">{{ solution.task.title }}
                    {% set comments_num = 0 %}
                    {% if solution_comments_stats['s_' ~ solution.id] is defined %}
                        {% set comments_num = solution_comments_stats['s_' ~ solution.id] %}
                    {% endif %}
                    <span class="badge" title="Number of comments">{{ comments_num }}</span>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock content %}
