default:
    extensions:
        Behat\Symfony2Extension:
            kernel:
                env: test
                debug: true
        Behat\MinkExtension:
            base_url: 'http://testhost'
            selenium2:
                wd_host: 'http://127.0.0.1:4444/wd/hub'
                capabilities: { "browser": "firefox", "browserVersion": "10", "browserName": "firefox", "version": "10", "deviceOrientation": "landscape", "deviceType": "desktop"}
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
            browser_name: firefox
            show_auto:    false
    suites:
        codedill_core:
            type: symfony_bundle
            bundle: ApplicationCoreBundle
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Application\Bundle\CoreBundle\Behat\DefaultContext
