<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

        {% javascripts "@bootstrap_js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets "@bootstrap_css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets "@font_awesome_css" %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </body>
</html>
