<form action="" id="rating-form">
    <input type="radio" name="rating" value="1"/>
    <input type="radio" name="rating" value="2"/>
    <input type="radio" name="rating" value="3"/>
    <input type="radio" name="rating" value="4"/>
    <input type="radio" name="rating" value="5"/>
</form>

{#<script type="text/javascript">#}
    {#jQuery(document).ready(function(){#}
        {#$('#rating-form input[name="rating"]').change(function(e) {#}
            {#var element = $(this);#}
            {#console.log(element);#}
        {#});#}
    {#});#}
{#</script>#}