<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
           aria-expanded="false"><b>{{ user.username }}</b> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Мои решения (todo)</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Мой профиль</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
        </ul>
    </li>
</ul>