#fos_comment_comment_body {
    min-height: 100px;
    height: auto;
    display: block;
    width: 100%;
    max-width: 600px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.fos_comment_submit {
    margin-top: 10px;
}

.fos_comment_comment_replies {
    margin-left: 40px;
}

.fos_comment_comment_body {
    font-size: 1.2em;
}

.fos_comment_comment_show {
    margin-top: 20px;
    max-width: 600px;
}

.fos_comment_comment_metas {
    color: #898989;
}

.fos_comment_comment_body {
    margin-top: 5px;
}

.fos_comment_comment_reply {
    margin-top: 5px;
}